@using TermasApp.IRepository
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject IFuncionarioRepository _funcionarioRepository
@inject IAquistaRepository _aquistaRepository
@inject IConsultaRepository _consultaRepository
@inject ITipoTratamentoRepository _tipoTratamentoRepository
@inject ITipoConsultaRepository _tipoConsultaRepository
@inject ITratamentoRepository _tratamentoRepository
@inject IPrescricaoRepository _prescricaoRepository

@{


    int idUserOrig = Int32.Parse(User.FindFirst("IdUserOrig").Value);
    var LPrescricao = await _prescricaoRepository.GetAllPrecricaoAquista(idUserOrig);
    string aquista;
    string medico;
    string tipoConsulta;
    string tipoTratamento;
    int marcados;
}



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Tratamento</th>
            <th>Consulta</th>
            <th>Aquista</th>
            <th>Médico</th>
            <th>Nº Tratamentos</th>
            <th>Marcados</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in LPrescricao)
        {
            var consulta = await _consultaRepository.GetConsultaById(item.IdConsulta);
            aquista = await _aquistaRepository.GetNomeAquista(item.IdAquista);
            medico = await _funcionarioRepository.GetNomeFuncionario(consulta.IdMedico);
            tipoConsulta = await _tipoConsultaRepository.GetNomeTConsulta(consulta.IdTipoConsulta);
            tipoTratamento = await _tipoTratamentoRepository.GetNomeTTratamento(item.IdTipoTratamento);
            marcados = await _tratamentoRepository.TratamentosMarcados(item.Id);

            <tr>
                <td><a asp-action="Details" asp-controller="TipoTratamento" asp-route-id="@item.IdTipoTratamento" title="Detalhes">@tipoTratamento</a></td>
                <td><a asp-action="Details" asp-controller="TipoConsulta" asp-route-id="@consulta.IdTipoConsulta" title="Detalhes">@tipoConsulta</a></td>
                <td><a asp-action="Details" asp-controller="Aquistas" asp-route-id="@item.IdAquista" title="Detalhes">@aquista</a></td>
                <td><a asp-action="Details" asp-controller="Funcionarios" asp-route-id="@consulta.IdMedico" title="Detalhes">@medico</a></td>
                <td>@item.NTratamentos</td>
                <td>@marcados</td>
                <td>@item.Data</td>
            </tr>
        }
    </tbody>
</table>