@using TermasApp.IRepository
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject IFuncionarioRepository _funcionarioRepository
@inject IAquistaRepository _aquistaRepository
@inject ITriagemRepository _triagemRepository

@{
    int idUserOrig = Int32.Parse(User.FindFirst("IdUserOrig").Value);
    var LTriagem = await _triagemRepository.GetAllTriagemDay();
    string aquista;
    string enfermeiro;
}



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Aquista</th>
            <th>Enfermeiro</th>
            <th>Hora</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in LTriagem)
        {
            aquista = await _aquistaRepository.GetNomeAquista(item.IdAquista);
            enfermeiro = await _funcionarioRepository.GetNomeFuncionario(item.IdEnfermeiro);
            <tr>
                <td><a asp-controller="Aquistas" asp-action="Details" asp-route-id="@item.IdAquista" title="Detalhes">@aquista</a></td>
                <td>@enfermeiro</td>
                <td>@item.Hora</td>
                <td>@item.Data</td>
            </tr>
        }
    </tbody>
</table>