@using TermasApp.IRepository
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject IFuncionarioRepository _funcionarioRepository
@inject ITipoConsultaRepository _tipoConsultaRepository
@inject IConsultaRepository _consultaRepository
@inject IAquistaRepository _aquistaRepository
@inject ITriagemRepository _triagemRepository
@{

    int idUserOrig = Int32.Parse(User.FindFirst("IdUserOrig").Value);

    var LConsultas = await _consultaRepository.GetAllConsultaAquista(idUserOrig);
    string consulta;
    string aquista;
    string medico;
    string enfermeiro;
}



<table class="table table-bordered table-striped" id="dataTable" style="width:100%">
    <thead>
        <tr>
            <th>Consulta</th>
            <th>Aquista</th>
            <th>Médico</th>
            <th>Enfermeiro</th>
            <th>Hora</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in LConsultas)
        {
            consulta = await _tipoConsultaRepository.GetNomeTConsulta(item.IdTipoConsulta);
            aquista = await _aquistaRepository.GetNomeAquista(item.IdAquista);
            medico = await _funcionarioRepository.GetNomeFuncionario(item.IdMedico);
            enfermeiro = await _triagemRepository.GetNomeEnfermeiro(item.IdTriagem);
            <tr>
                <td><a asp-action="Details" asp-controller="Consulta" asp-route-id="@item.Id" title="Detalhes">@consulta</a></td>
                <td><a asp-action="Details" asp-controller="Aquistas" asp-route-id="@item.IdAquista" title="Detalhes">@aquista</a></td>
                <td>@medico</td>
                <td>@enfermeiro</td>
                <td>@item.Hora</td>
                <td>@item.Data</td>
            </tr>
        }
    </tbody>
</table>
