@using TermasApp.IRepository
@inject IFuncionarioRepository _funcionarioRepository
@inject ITipoTratamentoRepository _tipoTratamentoRepository
@inject IAquistaRepository _aquistaRepository
@inject ITriagemRepository _triagemRepository
@inject ITratamentoRepository _tratamentoRepository
@{

    string tratamento;
    string aquista;
    string terateuta;
    EnfermeiroModel enfermeiro;
    var LTratamentos = await _tratamentoRepository.GetAllTratamentoDay();
}


<table class="table table-bordered table-striped"  style="width:100%">
    <thead>
        <tr>
            <th>Tratamento</th>
            <th>Aquista</th>
            <th>Terapeuta</th>
            <th>Enfermeiro</th>
            <th>Hora</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in LTratamentos)
        {
            tratamento = await _tipoTratamentoRepository.GetNomeTTratamento(item.IdTipoTratamento);
            aquista = await _aquistaRepository.GetNomeAquista(item.IdAquista);
            terateuta = await _funcionarioRepository.GetNomeFuncionario(item.IdTerapeuta);
            enfermeiro = await _triagemRepository.GetEnfermeiro(item.IdTriagem);
            <tr>
                <td><a asp-controller="Tratamento" asp-action="Details" asp-route-id="@item.Id" title="Detalhes">@tratamento</a></td>
                <td><a asp-controller="Aquistas" asp-action="Details" asp-route-id="@item.IdAquista" title="Detalhes">@aquista</a></td>
                <td><a asp-controller="Funcionarios" asp-action="Details" asp-route-id="@item.IdTerapeuta" title="Detalhes">@terateuta</a></td>
                @if(enfermeiro.Id > 0)
                {
                    <td><a asp-controller="Funcionarios" asp-action="Details" asp-route-id="@enfermeiro.Id" title="Detalhes">@enfermeiro.Nome</a></td>
                }
                else{
                    <td></td>
                }
                <td>@item.Hora</td>
                <td>@item.Data</td>
            </tr>
        }
    </tbody>
</table>