@using TermasApp.IRepository
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject IFuncionarioRepository _funcionarioRepository
@inject IAquistaRepository _aquistaRepository
@inject ITriagemRepository _triagemRepository

@{
    int idUserOrig = Int32.Parse(User.FindFirst("IdUserOrig").Value);
    string tipoFuncionario = await _funcionarioRepository.GetTipolFuncionario(idUserOrig);
    string posto = await _funcionarioRepository.GetPostolFuncionario(idUserOrig);

    var LTriagemDay = await _triagemRepository.GetAllTriagemDay();
    var LTriagem = await _triagemRepository.GetAllTriagemEnfermeiro(idUserOrig);

    string aquista;
    string enfermeiro;
}





    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="umEnf-tab" data-toggle="tab" href="#umEnf" role="tab" aria-controls="umEnf" aria-selected="true">Dia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="doisEnf-tab" data-toggle="tab" href="#doisEnf" role="tab" aria-controls="doisEnf" aria-selected="false">Todas</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="umEnf" role="tabpanel" aria-labelledby="umEnf-tab">
            <br />
            <table class="table table-bordered table-striped"  style="width:100%">
                <thead>
                    <tr>
                        <th>Aquista</th>
                        <th>Enfermeiro</th>
                        <th>Hora</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var item in LTriagemDay)
                    {
                        if (item.IdEnfermeiro == idUserOrig || item.IdEnfermeiro == null)
                        {
                            aquista = await _aquistaRepository.GetNomeAquista(item.IdAquista);
                            enfermeiro = await _funcionarioRepository.GetNomeFuncionario(item.IdEnfermeiro);
                            <tr>
                                <td><a asp-controller="Aquistas" asp-action="Details" asp-route-id="@item.IdAquista" title="Detalhes">@aquista</a></td>
                                <td>@enfermeiro</td>
                                <td>@item.Hora</td>
                                <td>@item.Data</td>
                            </tr>
                        }
                            }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="doisEnf" role="tabpanel" aria-labelledby="doisEnf-tab">
            <br />
            <table class="table table-bordered table-striped" id="dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Aquista</th>
                        <th>Enfermeiro</th>
                        <th>Hora</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var item in LTriagem)
                    {
                        aquista = await _aquistaRepository.GetNomeAquista(item.IdAquista);
                        enfermeiro = await _funcionarioRepository.GetNomeFuncionario(item.IdEnfermeiro);
                        <tr>
                            <td><a asp-controller="Aquistas" asp-action="Details" asp-route-id="@item.Id" title="Detalhes">@aquista</a></td>
                            <td>@enfermeiro</td>
                            <td>@item.Hora</td>
                            <td>@item.Data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


