@using TermasApp.IRepository
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject IFuncionarioRepository _funcionarioRepository
@inject IAquistaRepository _aquistaRepository


<nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow" >

    @if (_signInManager.IsSignedIn(User))
    {

        <!-- Topbar Navbar RIGHT -->
        int idUserOrig = Int32.Parse(User.FindFirst("IdUserOrig").Value);
        string tipoUser = User.FindFirst("TipoUser").Value;
        string urlFoto;
        string nome;
        if (tipoUser == "Aquistas")
        {
            urlFoto = await _aquistaRepository.GetFotoUrlAquista(idUserOrig);
            nome = await _aquistaRepository.GetNomeAquista(idUserOrig);
        }
        else
        {
            urlFoto = await _funcionarioRepository.GetFotoUrlFuncionario(idUserOrig);
            nome = await _funcionarioRepository.GetNomeFuncionario(idUserOrig);
        }
            
    <ul class="navbar-nav">
        <li class="nav-item">
            <div class="topbar-divider d-none d-sm-block"></div>
        </li>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   
                @if (urlFoto != null && urlFoto != "")
                {
                    <img class="img-profile rounded-circle" src="@urlFoto" width="30">

                }
                else
                {
                    <img class="img-profile rounded-circle" src="~/images/undraw_profile.svg">
                }
                    <span class="mr-2 d-none d-lg-inline text-black small">@nome</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                    <a class="dropdown-item " asp-route-id="@idUserOrig" asp-controller="@tipoUser" asp-action="Details">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Details
                </a>
                    <a class="dropdown-item" asp-controller="User" asp-route-id="@idUserOrig" asp-action="ChangePassword">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Mudar Password
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout"
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="topbar-divider d-none d-sm-block"></div>
        </li>
    </ul>
    }
    else
    {
        <!-- Logout -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="topbar-divider d-none d-sm-block"></div>
            </li>
            <li class="nav-item ">
                <div>
                    <a class="btn text-primary" asp-controller="User" asp-action="Login" style="background-color:#7FFFD4">Login</a>
                </div>
            </li>

        </ul>
    }
</nav>