@using TermasApp.IRepository
@model TermasApp.Models.FuncionarioModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject IFuncionarioRepository _funcionarioRepository

@{
    int idUserOrig = -1;
    string tipoFuncionario = "";
    string posto = "";
    string postoView = "";
    int count = _funcionarioRepository.FuncionarioCount();
    if (_signInManager.IsSignedIn(User))
    {
        idUserOrig = Int32.Parse(User.FindFirst("IdUserOrig").Value);
        tipoFuncionario = await _funcionarioRepository.GetTipolFuncionario(idUserOrig);
        posto = await _funcionarioRepository.GetPostolFuncionario(idUserOrig);
        if (posto == "Chefe")
        {
            postoView = "Diretor";
        }
        else{
            postoView = "";
        }
    }
}
@{
    ViewData["Title"] = "Details";
}


<div class="container p-3">

    <div class="row">
        <div class="col-md-7">
            <h4 class="display-4">Detalhes</h4>
        </div>
        <div class="col-md-2 text-right">
            @if (tipoFuncionario == "Administrativo" || count == 1)
            {
                @if (Model.Pass != true && Model.Ativo == true)
                {
                    <a asp-controller="User" asp-route-id="@Model.Id" asp-route-tipo="Funcionarios" asp-action="CreatedUser" class="btn btn-primary">Criar Login</a>
                }
                else
                {
                    <a asp-controller="User" asp-route-id="@Model.Id" asp-route-tipo="Funcionarios" asp-action="DeleteUser" class="btn btn-danger">Eliminar Login</a>
                }
            }
            
        </div>
        <div class="col-md-3">
            @if (tipoFuncionario == "Administrativo")
            {
                <a asp-action="Edit" asp-controller="Funcionarios" asp-route-id="@Model.Id" class="btn btn-warning mx-1"><i class="fas fa-pencil-alt" title="Editar"></i></a>

            <a asp-action="Index" class="btn btn-light btn-icon-split">
                <span class="icon text-black-50">
                    <i class="fas fa-reply-all"></i>
                </span>
                <span class="text">Voltar</span>
            </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-primary">
                    <h2>  @Model.Nome</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="font-weight-bold">@postoView</span>
                    <span class="font-weight-bold">@Model.TipoFuncionario</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="monospaced">Hablitações:</span>
                    <span class="font-weight-bold">@Model.Hablitacoes</span>
                    <span class="font-weight-bold">@Model.Especialidade</span>
                    <span class="monospaced"> Nota:</span>
                    <span class="font-weight-bold">@Model.Classificacao</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="monospaced">Contacto:</span>
                    <span class="font-weight-bold">@Model.Telefone </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="monospaced">Email:</span>
                    <span class="font-weight-bold">@Model.Email</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        <span class="monospaced">Data de Nascimento: </span>
                        <span class="font-weight-bold">@Model.DataNascimento</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        <span class="monospaced">Nascionalidade: </span>
                        <span class="font-weight-bold">@Model.Nacionalidade</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="@Model.FotoSrc?auto=yes&bg=777&fg=555&text=@Model.Nome" alt="" asp-append-version="true" />
        </div>
        <div class="col-md-6">
            <span class="font-weight-bold">Morada</span>
            <ul class="list-group">
                <li class="list-group-item"> @Model.Rua</li>
                <li class="list-group-item"> @Model.CPostal - @Model.Localidade</li>
                <li class="list-group-item"> @Model.Concelho - @Model.Pais</li>
            </ul>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Data Entrada - </span> @Model.DataEntrada</li>
                <li class="list-group-item"><span class="font-weight-bold">Data Saida - </span> @Model.DataSaida</li>
            </ul>
        </div>
        <div class="col-md-6">
            <span class="font-weight-bold"><br /></span>
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">CC - </span> @Model.CC</li>
                <li class="list-group-item"><span class="font-weight-bold">NIF - </span> @Model.NIF</li>
                <li class="list-group-item"><span class="font-weight-bold">NSSocial - </span> @Model.NSSocial</li>
                <li class="list-group-item"><span class="font-weight-bold">IBAN - </span> @Model.IBAN</li>
                <li class="list-group-item"><span class="font-weight-bold">Seguro Trabalho - </span> @Model.SeguroTrabalho</li>
            </ul>
        </div>
    </div>
</div>
